.posts-twoup {
  position: relative;
  display: block;

  .display(flex);
  .flex-wrap(wrap);

  > * {
    .flex(1);
    background: @color-rare;
    display: block;
    height: 240px;
    @media screen and (min-width: 40em) { height: 400px; }
    min-width: 40em / 2 ;
    position: relative;

  }
  > * {
    background-color: @color-medium-well;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    &:after {
      .fill-with-absolute-position;
      background: black;
      content: "";
      opacity: 0.2;
      z-index: 0;
    }
  }
  .post-content {
    .position(absolute, 35%, auto, auto, 50%);
    @media screen and (min-width: 40em) { top: 40%; }

    .transform(translate3d(-50%, 0, 0px));
    text-align: center;
    width: 100%;
    z-index: 1;

    .std-xpadding;
  }
  .title {
    .post-title(@color-empty);
    .type-secondary;
    display: inline-block;
    letter-spacing: -.02em;
    text-transform: capitalize;
    margin-bottom: .25em;
    text-shadow: rgba(0,0,0,.15) 0 1px 3px;
    a {
      text-decoration: none;
    }
  }
  .subtitle {
    .post-subtitle(@color-empty);
    .type-light;
    color: @color-empty;
    margin-bottom: .5em;
  }
  .attribution {
    .type-secondary;
    .font-s2;
    color: @color-empty;
  }
}