// Generic Layout and Master styles
.posts-grid {
  display: block;
  overflow: hidden; //prevents 1px spacing
  position: relative;

  .display(flex);
  .flex-wrap(wrap);

  > * {
    .flex(1);
    display: block;
    position: relative;

    //account for chrome's non-standard scrollbar/viewport measurement
    height: 240px;
    min-width: 100%;
    @media screen and (min-width: 40em) { height: 400px; }

    /* one item */
    &:first-child:nth-last-child(1) {
      .title { .post-title-oneup(@color-empty); }
      .subtitle { .post-subtitle-oneup(@color-empty); }
      .post-content {
        //does not need to be uniform with adjacent posts when all by itself
        //thus no top:X%
        .transform(translate3d(-50%, -50%, 0px));
      }
    }

    /* two items */
    &:first-child:nth-last-child(2),
    &:first-child:nth-last-child(2) ~ div {
      @media screen and (min-width: 40em) { min-width: 50%; }
      .post-content {
        @media screen and (min-width: 40em) { top: 36%; }
        @media screen and (min-width: 50em) { top: 40%; }
      }
    }

    /* three items */
    &:first-child:nth-last-child(3),
    &:first-child:nth-last-child(3) ~ div {
      @media screen and (min-width: 40em) { min-width: 33.33%; }
      .post-content {
        @media screen and (min-width: 40em) { top: 35%; }
        @media screen and (min-width: 50em) { top: 40%; }
      }
    }

    &:after { //Overlay for text readability atop images
      .fill-with-absolute-position;
      background: black;
      content: "";
      opacity: 0.2;
      z-index: 0;
    }
    &.has-image {
      background-color: @color-well;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &:not(.has-image) { //Overlay for posts without an image
      background-color: @color-medium-well;
      &:after {
        background-color: transparent;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
        .position(absolute, -30%, auto, auto, -15%);
        color: white;
        content: attr(title);
        font-size: 1500%;
        line-height: .85em;
        opacity: .015;
        text-transform: uppercase;
        z-index: 0;
      }
    }
    .post-content {
      position: absolute;
      left: 50%;
      top: 54%;
      width: 100%;

      //for single stacked columns
      .transform(translate3d(-50%, -50%, 0px));
      @media screen and (min-width: 40em) { .transform(translate3d(-50%, 0, 0px)); }
    }
  }
}



//Style
.posts-grid {
  .post-content {
    .std-xpadding;
    text-align: center;
    width: 100%;
    z-index: 1;
  }
  .title {
    .post-title(@color-empty);
    .type-secondary;
    display: inline-block;
    letter-spacing: -.02em;
    text-transform: capitalize;
    margin-bottom: .25em;
    text-shadow: rgba(0,0,0,.15) 0 1px 3px;
    a {
      text-decoration: none;
    }
  }
  .subtitle {
    .post-subtitle(@color-empty);
    .type-light;
    color: @color-empty;
    margin-bottom: .5em;
  }
  .attribution {
    .type-secondary;
    .font-s2;
    color: @color-empty;
    > a {
      .link-underline(@color-empty, @color-empty, @color-well);
      .background-image(none);
    }
  }
}