body.archive,
body.home,
body.error404 {
  .collage {
    .page-margins;
    background: @color-empty;
  }
  .navigation {
    .page-margins;
    .std-ypadding;
    .std-xpadding;
    text-align: center;
    clear: both;

    &:empty {
      display: none;
    }

    @media screen and (min-width: 50em) {
      padding-left: 0;
      padding-right: 0;
    }
    > a {
      width: 100%;
      @media screen and (min-width: 50em) {
        width: 33.33%;
      }
    }
  }
}

