.menu-toggle {
  .position(relative, 1em, auto, auto, .25em, 3em, 3em);
  //background: green;
  display: block;
  text-align: center;
  z-index: 20;
  > span {
    display: inline-block;
    font-size: 2em;
    line-height: 3rem;
    color: @color-well;
  }
}

nav {
  .wrapper {
    background: @color-well;
    padding: 0 2.5em;

    a {
      .link-inverse;
      .type-light;
      .font-m2;
      margin-top: 1.5em;
    }
  }
}