/* Generic */
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

/* Spacing */
label {
  .font-s2;
  @media screen and (min-width: 40em) { .font-s3; }
  display: block;
  margin-bottom: .5em;
  &.checkbox,
  &.radio {
    min-height: 1em;
    input {
      margin-left: .25em;
    }
    & + button {
      /* accounts for 4px margin bottom to = 16px */
      margin-top: 12px;
    }
  }
  >*.alert {
    .type-bold;
    color: @color-alert;
  }
}

input:not([type="checkbox"]):not([type="radio"]),
.input-symbol,
select,
textarea,
.a-select {
  margin-bottom: 1em;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea {
  .font-s2;
  @media screen and (min-width: 40em) { .font-s3; }

  #forms > .placeholder(@color-medium-rare);
  border-radius: 3px;
  box-shadow: #ddd 0 0 0 1px inset;
  box-sizing: border-box;
  .transition( border 300ms ease-in, box-shadow 300ms ease-in );

  //padding that ensures buttons and forms are similar dimensions
  padding: .5em .75em; //more compact buttons
  line-height: 1.5em !important;
  @media screen and (min-width: 40em) {
    padding: .5em 1em;
  }

  &:active,
  &:focus {
    box-shadow: @color-primary 0 0 0 1px inset;
  }
  /* Alerts */
  &.alert {
    border: 1px solid @color-alert;
    box-shadow: @color-alert 0 0 5px 0;
  }
  /* Inverted colorway */
  &.inverse {
    #forms > .placeholder(@color-medium-rare);
    background-color: #333;
    box-shadow: #383838 0 0 0 1px inset;
    color: @color-empty;
  }
  & + .subtext {
    margin-bottom: 1em;
    margin-top: -.75em;
  }
}


/* Styles for inputs with icons inside of them, see styleguide for markup */
.input-symbol {
  display: inline-block;
  position: relative;
  //icon position and padding for input
  &.left {
    > [class^="icon-"], > [class*=" icon-"] {
      left: 1em/2;
    }
    > input, > .pseudo-input {
      padding-left: 2em !important;
    }
  }
  &.right {
    > [class^="icon-"], > [class*=" icon-"] {
      right: 1em/2;
    }
    > input, > .pseudo-input {
      padding-right: 1.75em  !important;
    }
  }
  &.center { //centered but the icon is still left aligned
    > [class^="icon-"], > [class*=" icon-"] {
      left: 1em/2;
    }
  }
  > input, > button, > .pseudo-input {
    width: 100%;
    margin: 0 !important; //clear any inherited margin, we space the container instead

    /* highlight submit button when input focussed */
    &:focus + button {
      &[class^="icon-"], &[class*=" icon-"] {
        color: @color-primary;
      }
    }
    &:focus + span {
      &[class^="icon-"], &[class*=" icon-"] {
        color: @color-primary;
      }
    }

  }
  > [class^="icon-"], > [class*=" icon-"] {
    background: transparent;
    bottom: 0;
    color: @color-medium-rare;
    position: absolute;
    top: 50%;
    width: 1em;
    .transform(translateY(-50%));
    .transition( all 100ms ease-in );
    &.inverse {
      color: @color-medium;
    }
  }
}


// a form input with no chrome at all (ie. appears just as text)
// search overlay page
input[type="text"],
input[type="search"],
input[type="email"],
textarea {
  &.nochrome {
    padding: 0;
    border: none;
    box-shadow: none;
    background: none;
    outline: none;
    &:focus, &:active, &:hover {
      box-shadow: none;
    }
  }
}