.section-comments {
  &:after {
    //line in the background of the comments
    .position(absolute, 0, auto, 0, 2.75em, 2px);
    .transform(translateX(-50%));
    background: @color-raw;
    content: '';
    z-index: 0;

    @media screen and (min-width: @breakpoint) { left: 50%; }
  }

  .title-section {
    //to mask the vertical line in the bg
    background: @color-empty;
    display: inline-block;
  }

  form {
    .subtitle {
      .page-subtitle(@color-well);
      margin-bottom: .5em;
    }

    .input-symbol,
    textarea {
      max-width: 100%;
      width: 100%;
    }

    button[type=submit],
    #cancel-comment-reply-link {
      width: 100%;
      @media only screen and (min-width: 40em) {
        width: auto;
      }
    }

    button + #cancel-comment-reply-link {
      margin-top: .5em;
      @media only screen and (min-width: 40em) { margin-top: 0; }
    }
  }
}

.commentlist {
  .std-xpadding;

  @media only screen and (min-width: @breakpoint) {
    padding: 0;
    margin: 3rem auto;
    max-width: 800px;
    width: 75%;
  }
}

.comment-lockup {
  .display(flex);
  .flex-wrap(wrap);
  margin-bottom: 3em;
  position: relative;
  z-index: 1;

  .meta { .flex(1); }

  .avatar-wrapper {
    display: block;
    margin-right: 1.25em;
    .avatar {
      display: block;
      height: auto;
      width: 3em;
    }
  }

  .name {
    .type-semibold;
    .font-m1;
    display: inline-block;
    line-height: 1.75em; //same as formatting
  }
  .formatting { margin-bottom: .5em; }

  .bullet {
    display: inline-block;
    margin: 0 .75em;
    color: @color-medium-rare;
    &:before { content: '\02022'; }
  }

  .date,
  .comment-reply-link,
  .comment-edit-link {
    .font-s2;
    .type-semibold;
    .link-underline(@color-medium-rare, @color-primary, @color-well, 0%);
  }

  .note {
    //this is when a comment is submitted and is awaiting moderation
    .font-s2;
  }
}//comment-lockup

ul { //nested comments
  padding-left: 4.25em;
  .comment-lockup {
    .avatar-wrapper {
      margin-right: .75em;
      .avatar { width: 1.75em; }
    }
  }
}

// for respond styling and edgecases
#respond {
  .std-xpadding;
  .std-ypadding;
  background: @color-empty;
  border: 2px solid @color-raw;
  position: relative;
  z-index: 1;

  //override std-xpadding on mobile
  padding-left: 2rem;
  padding-right: 2rem; //20

  @media only screen and (min-width: @breakpoint) { margin-bottom: 6em; }

  fieldset {
    padding-top: 0; //overrides fieldset styling
    padding-bottom: 0; //overrides fieldset styling
  }

  .fieldset-group {
    .display(flex);
    .flex-wrap(wrap);
    > * {
      .flex(1);
    }
  }

  .subtext,
  .comment-subscription-form > * {
    .font-s2;
  }
  .comment-subscription-form { //this only appears if you have Jetpack subscriptions activated
    margin-top: .75em;
    & + .comment-subscription-form { margin-top: 0; }
  }

  textarea { margin-bottom: 2rem; }
}

.commentlist + #respond,
.title-section + #respond {
  //if the response follows a comment lists
  //if the response is by itself
  //We do this because we'd need to cancel this out when the response is nested via 'reply'
  @media only screen and (min-width: @breakpoint) {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: 75%;
  }
}

li.comment {
  &.depth-1 + #respond,
  &.depth-2 + #respond {} // spacing between responses and next comments

  &.depth-1 + #respond { margin-left: 4.25em; } //nested avatar allowance
  &.depth-2 + #respond { margin-left: 2.25em; } //nested avatar allowance
  &.depth-1:last-of-type + #respond { margin-bottom: 0; } // remove margin for last comment
}