// Grid item
// Generic Layout and Master styles

.post-item {
  .backface-visibility(hidden);
  .transform(translate3d(0,0,0));//improve performance for bg cover

  &.bg-image:after { //Overlay for text readability atop images
   .position(absolute, 0, 0, 0, 0);
   .transition(all ease-in 200ms);
   .transform(translate3d(0,0,0));
    background: black;
    content: "";
    opacity: 0.4;
    z-index: 0;
  }

  &.bg-image-text { //Overlay for posts with text image
    background-color: @color-medium-well;
    overflow: hidden;
    &:after {
      background-color: transparent;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: bold;
      .position(absolute, -30%, auto, auto, -15%);
      color: @color-empty;
      content: attr(title);
      font-size: 1500%;
      line-height: .85em;
      opacity: .02;
      text-transform: uppercase;
      z-index: 0;
    }
  }

  //the note in the top left corner next/previous post for adjacentposts
  .subtitle-item {
    .position(absolute, 0, 0, auto, 0, 100%);
    .std-xpadding;
    .std-ypadding;
    .type-bold;
    .title-caps;
    color: rgba(255,255,255,.5);
    line-height: 1;
    text-indent: 0;
    z-index: 1;

    .font-s3;
    @media screen and (min-width: @breakpoint) { .font-m1; }
  }

}


//Style
.post-content {
  .std-xpadding;
  .position(absolute, 52%, 0, auto, 0);
  .transform(translate3d(0, -50%, 0));
  text-align: center;
  width: 100%;
  z-index: 1;

  .title {
    .type-light;
    .post-title(@color-empty);
    display: inline-block;
    margin-bottom: .33em;
    text-shadow: rgba(0,0,0,.15) 0 1px 3px;
  }
  .subtitle {
    .post-subtitle(@color-empty);
    color: @color-empty;
    font-style: italic;
  }
}