// Grid item
// Generic Layout and Master styles
.posts-grid {
  > * {
    .transform(translate3d(0,0,0));//improve performance for bg cover
    &:after { //Overlay for text readability atop images
      .fill-with-absolute-position;
     .transition(all ease-in 200ms);
      background: black;
      content: "";
      opacity: 0.4;
      z-index: 0;
    }
    &.has-image {
      background-color: @color-well;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      &:hover:after {
        opacity: .45;
      }
    }
    &:not(.has-image) { //Overlay for posts without an image
      background-color: @color-medium-well;
      &:after {
        background-color: transparent;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
        .position(absolute, -30%, auto, auto, -15%);
        color: white;
        content: attr(title);
        font-size: 1500%;
        line-height: .85em;
        opacity: .015;
        text-transform: uppercase;
        z-index: 0;
      }
    }
    .post-content {
      position: absolute;
      left: 50%;
      top: 53%;
      width: 100%;

      //for single stacked columns
      .transform(translate3d(-50%, -50%, 0px));
      @media screen and (min-width: 40em) { .transform(translate3d(-50%, 0, 0px)); }
    }
  }
}



//Style
.posts-grid {
  .post-content {
    .std-xpadding;
    text-align: center;
    width: 100%;
    z-index: 1;
  }
  .title {
    .post-title(@color-empty);
    .type-secondary;
    display: inline-block;
    letter-spacing: -.02em;
    margin-bottom: .25em;
    text-shadow: rgba(0,0,0,.15) 0 1px 3px;
    a {
      text-decoration: none;
    }
  }
  .subtitle {
    .post-subtitle(@color-empty);
    .type-light;
    color: @color-empty;
    margin-bottom: .5em;
  }
  .attribution {
    .type-secondary;
    .font-s2;
    color: @color-empty;
    > a {
      .link-underline(@color-empty, @color-empty, rgba(255,255,255, .7));
      &:not(:hover):not(:active) {
        .background-image(none);
      }
    }
  }
}