header {
  &.default {
    .page-margins;
    .std-xpadding;
    background: @color-empty;
    text-align: center;

    padding-top: 4em;
    padding-bottom: 4em;
    @media screen and (min-width: @breakpoint) {
      padding-top: 6em;
      padding-bottom: 6em;
    }

    .page-title {
      .page-title (@color-well);
      @media screen and (min-width: @breakpoint) { .type-light; }
      margin-bottom: .25em;
      &:only-child { margin-bottom: 0; }
    }
    .page-subtitle {
      .page-subtitle(@color-well);
      ul {
        display: inline-block;
        list-style: none;
        padding: 0;
        vertical-align: middle;
        li {
          float: left;
          a {
            .link-underline(@color-medium, @color-primary, @color-well, 0%);
            .type-semibold;
            text-transform: lowercase;
          }
        }
        li:not(:first-child):not(:last-child):before {
          content: ', '
        }
        li:last-child:before {
          content: '\00a0 \0026 \00a0'
        }
      }
    }
  }
}