// Layout animations
@transition-time: 600ms;
@transition-distance: 260px;
body {
  .fill-with-absolute-position;
  background: black;
  overflow: hidden; //prevents scrolling when menu is open

  > * {
    .transition(all @transition-time cubic-bezier(0.175, 0.885, 0.335, 1.05));
    .backface-visibility(hidden);
  }

  .site-nav {
    .transform(scale(1));
    .transition(all @transition-time cubic-bezier(0.175, 0.885, 0.335, 1.05));
    opacity: 1;
  }

  &.menu-active {
    > * { .transform(translateX(@transition-distance)); }

    .content-overlay { //intercepts clicks and scroll events when menu is active
      .fill-with-absolute-position;
      background: transparent;
      z-index: 2;
    }
    .site-nav {
      opacity: 0;
      .transform(scale(0));
    }
  }

}

.content {
  .fill-with-absolute-position;
  background: @color-raw;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

nav {
  .perspective(2000);
  .position(absolute, 0, auto, auto, -@transition-distance, @transition-distance, 100%);
  -webkit-overflow-scrolling: touch;

  .wrapper {
    .backface-visibility(hidden);
    .fill-with-absolute-position;
    .transition(all @transition-time cubic-bezier(0.175, 0.885, 0.335, 1.05));
    .transform-origin(100% 0%);
    .transform-style(preserve-3d);


    .transform(rotateY(-90deg));
    opacity: .25;
    body.menu-active & {
      .transform(rotateY(0deg));
      opacity: 1;
    }
  }
}